.label {
  display: block;
}

.label__text {
  display: block;
  font-size: 0.9rem;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
}

.label__explain {
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 1;
}

.label__children-container {
  margin-top: 0.35rem;
}

.label + .label {
  margin-top: 1.5rem;
}
