:root {
  --border-color: rgb(150, 150, 150);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: rgb(239, 239, 239);
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.app {
  background-color: white;
  flex: 1 0 100%;
  max-width: 60rem;
  padding: 1.5rem;
  width: 100%;
}

.steps {
  border-bottom: 3px solid black;
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
  margin-top: 0;
  padding-bottom: 0.75rem;
  text-transform: uppercase;
}

.preview__section-title {
  font-size: 1.35rem;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 2.5rem;
}

.preview__section-title + p {
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 0.35rem;
}

.divider {
  background: black;
  border: 0;
  height: 3px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  width: 100%;
}

/* Embed Code Styles */

.you-draw-it {
  margin-bottom: 1.5rem;
}

.you-draw-it__result {
  margin-top: 1rem;
  text-align: center;
}

.you-draw-it__result > button {
  background: rgb(120, 120, 120);
  border: none;
  color: white;
  font-family: AkzidenzGroteskRegular, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75rem 2.5rem;
}

.you-draw-it__result > button:not([disabled]) {
  background-color: rgb(60, 60, 60);
  color: white;
}

.you-draw-it__result > button:not([disabled]):hover,
.you-draw-it__result > button:not([disabled]):focus {
  background-color: rgb(20, 20, 20);
  cursor: pointer;
}

.you-draw-it__result > button[disabled] {
  background-color: rgb(180, 180, 180);
  color: currentColor;
}

.you-draw-it__result--result-shown > button {
  display: none;
}

.you-draw-it__result--result-shown > .you-draw-it__result-text {
  display: block;
}

.you-draw-it__result-text {
  display: none;
}

.you-draw-it__source {
  margin-top: 1rem;
  text-align: right;
}
